{% extends "base.jinja2" %}
{% block content %}
<h1>
    <strong>{{ user.Name }}</strong>님의 상세정보
</h1>
<div class="card border-success my-3">
    <div class="card-header">기본정보 (UUID: {{ user.Id }})</div>
    <div class="card-body">
        <dl class="row my-2">
            <dt class="col-sm-1">이름</dt>
            <dd class="col-sm-11">
                {{ user.Name }}
            </dd>
            <dt class="col-sm-1">성별</dt>
            <dd class="col-sm-11">
                {{ user.Gender }}
            </dd>
            <dt class="col-sm-1">나이</dt>
            <dd class="col-sm-11">
                {{ user.Age }}
            </dd>
            <dt class="col-sm-1">생일</dt>
            <dd class="col-sm-11">
                {{ user.Birthday|date }}
            </dd>
            <dt class="col-sm-1">주소</dt>
            <dd class="col-sm-11">
                {{ user.Address }}
            </dd>
        </dl>
    </div>
</div>
<div class="card border-primary my-3">
    <div class="card-header">
        주문내역 (총 <strong>{{ order_list|count }}</strong>건)
    </div>
    <ul class="list-group list-group-flush">
        {% for store in order_list %}
        <a href="/" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
            aria-current="true">
            <div class="ms-2 me-auto">
                <strong>{{ store.Name }}</strong> - {{ store.Type }}
            </div>
            <span>{{ store.OrderAt|datetime }}</span>
        </a>
        {% endfor %}
    </ul>
</div>
<div class="card border-primary my-3">
    <div class="card-header">자주 방문한 매장 TOP 5</div>
    <ul class="list-group list-group-flush">
        {% for top in store_top5 %}
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
            aria-current="true">
            <div class="ms-2 me-auto">
                <strong>{{ top.Name }}</strong> - {{ top.Type }}
            </div>
            <span>{{ top.visit_count }}회 방문</span>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="card border-primary my-3">
    <div class="card-header">자주 주문한 상품 TOP 5</div>
    <ul class="list-group list-group-flush">
        {% for top in item_top5 %}
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
            aria-current="true">
            <div class="ms-2 me-auto">
                <strong>{{ top.Name }}</strong> - {{ top.Type }}
            </div>
            <span>{{ top.order_count }}회 주문</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}