{% extends "base.jinja2" %}
{% block content %}
<h1>전체 회원 리스트</h1>
<hr />
<form action='{{ url_for("user.get_users") }}' class="row g-3 justify-content-center">
    <div class="col-4">
        <input type="text" class="form-control" id="name" name="name" placeholder="{{ name or '이름' }}" />
    </div>
    <div class="col-4">
        <input type="number" class="form-control" id="age" name="age" placeholder="{{ age or '나이' }}" />
    </div>
    <div class="col-2">
        <select id="gender" name="gender" class="form-select">
            <option selected hidden value="{{ gender or '' }}">{{ gender or '성별' }}</option>
            <option value="">전체</option>
            <option>남</option>
            <option>여</option>
        </select>
    </div>
    <div class="col-auto text-center">
        <button type="submit" class="btn btn-primary px-3">검색</button>
    </div>
    <div class="col-auto text-center">
        <a href="{{ url_for('user.get_users') }}" class="btn btn-danger px-3">초기화</a>
    </div>
</form>
<hr />
<div class="card my-3">
    <div class="card-header">총 회원: {{ '{:,}'.format(user_total) }}명</div>
    <ul class="list-group list-group-flush">
        {% for users in user_list %}
        <a href="{{ url_for('user.get_user', id=users.Id) }}"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
            aria-current="true">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    {{ users.Name }}
                    {% if users.Gender == "남" %}
                    <span class="badge bg-primary ms-1">{{ users.Gender }} ({{ users.Age }})</span>
                    {% else %}
                    <span class="badge bg-danger ms-1">{{ users.Gender }} ({{ users.Age }})</span>
                    {% endif %}
                </div>
            </div>
            <span>{{ users.Address }}</span>
        </a>
        {% endfor %}
    </ul>
</div>
<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if user_list.has_prev %}
    <li class="page-item">
        <a class="page-link"
            href="?page={{ user_list.prev_num }}&name={{ name or '' }}&gender={{ gender or '' }}&age={{ age or '' }}"><i
                class="bi bi-caret-left-fill"></i></a>
    </li>
    {% endif %}
    <!-- 페이지번호 -->
    {% for page_num in user_list.iter_pages() %}
    {% if page_num %}
    {% if
    page_num == user_list.page %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ page_num }}</a>
    </li>
    {% elif page_num == 1 or page_num == user_list.pages or (page_num >=
    user_list.page - 2 and page_num <= user_list.page + 2) %} <li class="page-item">
        <a class="page-link"
            href="?page={{ page_num }}&name={{ name or '' }}&gender={{ gender or '' }}&age={{ age or '' }}">{{ page_num
            }}</a>
        </li>
        {% elif (page_num == user_list.page - 3 and user_list.page > 3) or (page_num
        == user_list.page + 3 and user_list.page < user_list.pages - 3) %} <li class="disabled">
            <a class="page-link" href="#">...</a>
            </li>
            {% endif %}
            {% else %}
            <li class="disabled">
                <a class="page-link" href="#">...</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if user_list.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ user_list.next_num }}&name={{ name or '' }}&gender={{ gender or '' }}&age={{ age or '' }}"><i
                        class="bi bi-caret-right-fill"></i></a>
            </li>
            {% endif %}
</ul>
<!-- 페이징처리 끝 -->
{% endblock content %}