{% extends 'base.jinja2' %}
{% block content %}
<h1>
    <strong>{{ item.Name }}</strong> 상세정보
</h1>
<hr>
<div class="card border-success my-3">
    <div class="card-header">기본정보 (UUID: {{ item.Id }})</div>
    <div class="card-body">
        <dl class="row my-2">
            <dt class="col-sm-2">메뉴명</dt>
            <dd class="col-sm-10">
                {{ item.Name }}
            </dd>
            <dt class="col-sm-2">카테고리</dt>
            <dd class="col-sm-10">
                {{ item.Type }}
            </dd>
            <dt class="col-sm-2">단가</dt>
            <dd class="col-sm-10">
                ₩ {{ '{:,}'.format(item.UnitPrice) }}
            </dd>
        </dl>
    </div>
</div>
<div class="card border-primary my-3">
    <div class="card-header">
        월간 매출액
    </div>
    <ul class="list-group list-group-flush">
        {% for sale in sales %}
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <span class="fw-bold">{{ sale.Month }}</span> (주문 수: {{ sale.OrderCount }}건)
            </div>
            <div>₩ {{ '{:,}'.format(sale.MonthlySales) }}</div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="card border-primary my-3">
    <div class="card-header">
        월간 매출액 그래프
    </div>
    <div class="card-body">
        <canvas id="chart"></canvas>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('chart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ chart_month | tojson }},
        datasets: [{
            type: 'bar',
            label: '월간 매출액',
            data: {{ chart_sales | tojson }},
        backgroundColor: 'rgba(44, 83, 125, 0.2)',
        borderColor: 'rgba(44, 83, 125, 1)',
        borderWidth: 1,
        yAxisID: 'y-axis-1'
        }, {
            type: 'line',
            label: '주문 수',
            data: {{ chart_sales_count | tojson }},
        fill: false,
        borderColor: 'rgba(255, 99, 132, 1)',
        tension: 0.2,
        yAxisID: 'y-axis-2'
        }]
    },
        options: {
        responsive: true,
        scales: {
            'y-axis-1': {
                type: 'linear',
                position: 'left',
                beginAtZero: false,
                title: {
                    display: true,
                    text: '매출액'
                }
            },
            'y-axis-2': {
                type: 'linear',
                position: 'right',
                beginAtZero: true,
                title: {
                    display: true,
                    text: '주문 수'
                },
                grid: {
                    drawOnChartArea: false
                }
            }
        }
    }
});
</script>
{% endblock script %}