{% extends 'base.html' %}
{% block content %}
    <h1>전체 주문 리스트</h1>
    <hr>
    <div class="card my-3">
        <div class="card-header">총 주문: {{ order_total }}개</div>
        <ul class="list-group list-group-flush">
            {% for orders in order_list %}
                <a href="#"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
                   aria-current="true">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            [ <span class="text-primary">{{ orders.StoreName }}</span> ] {{ orders.UserName }}
                        </div>
                    </div>
                    <span class="badge bg-primary">{{ orders.OrderAt|datetime }}</span>
                </a>
            {% endfor %}
        </ul>
    </div>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if order_list.has_prev %}
            <li class="page-item">
                <a class="page-link" href="?page={{ order_list.prev_num }}"><i class="bi bi-caret-left-fill"></i></a>
            </li>
        {% endif %}
        <!-- 페이지번호 -->
        {% for page_num in order_list.iter_pages() %}
            {% if page_num %}
                {% if page_num == order_list.page %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ page_num }}</a>
                    </li>
                {% elif page_num == 1 or page_num == order_list.pages or (page_num >= order_list.page - 2 and page_num <=
                    order_list.page + 2) %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% elif (page_num == order_list.page - 3 and order_list.page > 3) or (page_num == order_list.page + 3 and
                    order_list.page < order_list.pages - 3) %}
                    <li class="disabled">
                        <a class="page-link" href="#">...</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if order_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ order_list.next_num }}"><i class="bi bi-caret-right-fill"></i></a>
            </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
{% endblock %}
